<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210235768225-8a65m645fel59hpsau8no1tqc79acdv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210235768225-8a65m645fel59hpsau8no1tqc79acdv1</string>
	<key>API_KEY</key>
	<string>AIzaSyCsDE2dJ9pxQWBLpGXd3tpRsRKJaCPi-9U</string>
	<key>GCM_SENDER_ID</key>
	<string>210235768225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseCrashlytics</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-crashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-crashlytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210235768225:ios:0a8c0ea4bdf31b3776dfe0</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-crashlytics.firebaseio.com</string>
</dict>
</plist>